html {
    background-color: black;
    font-size: 18px;
    font-family: 'Agency FB', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: white;
}

/* HEADER NAV */
header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

li {
    display: inline-block;
}

nav {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1rem;
    word-spacing: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-shadow: 4px 4px 4px #aaa;
}

/* BANNER */
.banner img {
    width: 100%;
}

/*Vision images*/

.images {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
    padding: 5px;
    border: 2px solid white;
}

.vision img {
    width: 32%;
    border: 2px solid white;
}

/* FOOTER */
footer {
    text-align: center;
}

/* CONTACT FORM */
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(255, 255, 255);
  font-weight:500;
  font-size: 18px;
  border-radius: 3px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#000000;
  border-radius:3px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#ffffff; color: #000000;}